{% extends 'base.html.twig' %}

{% block title %}Moonshot Login{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello guest</h1>

    Login
    <BR>
    <a href="/login"><Button>Login</Button></a>
    <BR>
    <BR>

    Register
    <ul>
        <li><a href="/register/user"><Button>As User</Button></a></li>
        <li><a href="/register/agent"><Button>As Agent</Button></a></li>
    </ul>
</div>
{% endblock %}
